<h3>Post Form</h3>

<%= form_for(@post) do |post| %>
  <label>Post title:</label><br>
  <%= post.text_field :title %><br>

  <label>Post Description</label><br>
  <%= post.text_area :description %><br>
  
  <%= submit_tag "Update Post" %>
<% end %>