<%= form_for(@post) do |post| %>
  <label>Post Title:</label><br>
  <%= post.text_field :title %><br>

  <label>Post Description</label><br>
  <%= post.text_area :description %><br>

  <%= submit_tag "Submit Post" %>
<% end %>